@model LexiconUniversity.Models.Student

@{
    this.ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>            @Html.DisplayNameFor(model => model.FirstName)        </dt>
        <dd>            @Html.DisplayFor(    model => model.FirstName)        </dd>

        <dt>            @Html.DisplayNameFor(model => model.LastName)        </dt>
        <dd>            @Html.DisplayFor(    model => model.LastName)        </dd>

        <dt>            @Html.DisplayNameFor(model => model.Enrollments)        </dt>
        <dd>      
            <table class="table">
                <tr>
                    <th> Course          </th>
                    <th> Grade           </th>
                    <th> Enrollment DAte </th>
               </tr>
                    @foreach (var enrollment in Model.Enrollments)
                    {
               <tr>
                    <td>@Html.ActionLink(enrollment.Course.Title, "Details", "Courses", new { id=enrollment.CourseId }, null  ) </td>
                    <td>@Html.DisplayFor(x => enrollment.Grade         ) </td>
                    <td>@Html.DisplayFor(x => enrollment.EnrollmentDate) </td>
              </tr>
                    }
           </table>

       
        
        </dd>
        <dt></dt>
        <dd>
            @Html.ActionLink("Add Enrollment", "Create", "Enrollments", new { studentId= Model.Id},null)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
